body {
    text-align: center;
    background-color: darkslategrey;
}
.container {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 375px 100px;
    background-color: rgb(84, 84, 108);
    justify-content: center;
}
#inputs{
    grid-column: 1/2;
    grid-row: 1/2;
}
#processes {
    grid-column: 2/3;
    grid-row: 1/2;
}
#outputs {
    grid-column: 3/4;
    grid-row: 1/2;
}
.inputVessel{
    grid-column: 1/2;
}
.processVessel{
    grid-column: 2/3;
}
.outputVessel{
    grid-column: 3/4;
}
.inputVessel, .processVessel, .outputVessel {
    align-items: space-around;
    grid-row: 2/3;
    background-color: grey;
    height: 80%;
    width: 90px;
    padding: 0px;
    margin: 12px;
    border: 2px solid black;
}
progress:not([value]) {
    margin-top : 155%;
    margin-left: -105px;
    transform: rotate(-90deg);
     width:300px;

}
progress[value] {
width: 20px;
      min-height: 100px;
      display: flex;
      align-items: flex-end;
      margin-right: 20px;
      float: left;
} 
.pump, .burner {
    grid-row: 3/4;
    justify-content: space-around;
    padding: 0px;
    margin: 12px;
    border: 2px solid black;
}
.pump {
    width: 90px;
    height: 70px;
    content: url('/assets/Centrifugal_Pump.jpg');
}
.burner {
    width: 90px;
    height: 70px;
    grid-column: 2/3;
    justify-content: space-around;
    align-items: center;
    content: url('/assets/flame\ gif.gif')
}
.pump0 {
    grid-column: 1/2;
}
.outPump0 {
    grid-column: 3/4;
}
/* .burner0 {
    grid-column: 2/3;
    grid-row: 2/3;
} */