* {
    box-sizing: border-box;
    margin: 0;
}
body {
    height: 100vh;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    /* background-color: darkslategrey; */
    /* background: url(/assets/stock-photo-oil-refinery-factory-at-twilight-chao-phraya-river-in-bangkok-thailand-hdr-images-184698878.jpg) no-repeat; */
    background-size: cover;
    }
    #levels {
        /* background-color: rgb(48, 94, 48); */
        background: url(https://i.imgur.com/uxIxgQK.jpg) no-repeat;

    }
h1 {
    color: white;
    font-size: 64px;
    font-weight: bold;
    margin: 5px;
}
#navBar {
    display: flex;
    grid-row: 1/2;
    height: 50px;
    width: 100%;
    position: relative;
    background-color: rgba(34, 26, 23, 0.623);
}
#indexBody {
     background: url(https://i.imgur.com/uxIxgQK.jpg) no-repeat;
}
.levelButtons {
    margin-top: 40px;
    font-size: 44px;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(34, 26, 23, 0.623);
    border: 3px solid white;
    border-radius: 15px;
    color: white;
}
.levelButtons:hover {
    background-color: rgb(165, 115, 49);
    cursor: pointer;
}
#homeButtons {
    margin-top: 5px;
    justify-content: flex-start;
    font-size: 25px;
    margin-left: 40px;
    font-family: 'Amatic SC', cursive;
    background-color: rgba(34, 26, 23, 0.623);
    border: 3px solid white;
    border-radius: 15px;
    color: white;
}
#homeButtons:hover {
    background-color: rgb(165, 115, 49);
    cursor: pointer;
}
.container {
    display: grid;
    width: 100%;
    height: 85vh;
    /* width: 80%; */
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: .6fr 2.7fr .7fr .7fr .7fr;
    justify-content: space-around;
    opacity: 100%; 
}
h3 {
    height: 240px;
}
h4 {
    margin-top: 15px;
    grid-column: 1/4;
    grid-row: 1/2;
    color: white;
    font-size: 36px;
    margin: 5px;
    background-color: rgba(0,0,0,.4);
}
h5 {
    margin-top: 60px;
    grid-column: 1/4;
    grid-row: 2/3;
    justify-self: center;
    height: 40vh;
    width: 100%;
    /* backgroundColor: 'rgba(133,106,106,.5)', */
}
#inputs{
    grid-column: 1/2;
    grid-row: 3/4;
}
#processes {
    grid-column: 2/3;
    grid-row: 3/4;
}
#outputs {
    grid-column: 3/4;
    grid-row: 3/4;
}


.sliders{
    display: grid;
    grid-column: 1/4;
    color: white;
    font-size: 36px;
}
#pump0 {
    display: grid;
    grid-row: 3/4;
    grid-column: 1/4;
}
#burner0 {
    display: grid;
    grid-row: 4/5;
    grid-column: 1/4;
}
#burner1 {
    display: grid;
    grid-row: 5/6;
    grid-column: 1/4;
}


input {
    /* height: 110px; */
    width: 66%;    
}
.sliders label {
    margin: 0px;
    padding: 0px;
    /* height: 110px; */
    /* width: 55%; */
    text-align: center;
    /* vertical-align: middle; */
    /* align-self: center; */
}

