body {
    text-align: center;
    background-color: darkslategrey;
}
.container {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 375px 100px;
    background-color: rgb(84, 84, 108);
    justify-content: space-around;
}
#inputs{
    grid-column: 1/2;
    grid-row: 1/2;
}
#processes {
    grid-column: 2/3;
    grid-row: 1/2;
}
#outputs {
    grid-column: 3/4;
    grid-row: 1/2;
}
.inputVessel{
    grid-column: 1/2;
}
.processVessel{
    margin-left: auto;
    grid-column: 2/3;
}
.outputVessel{
    grid-column: 3/4;
}
.coolers{
    justify-self: flex-end;
}
.inputVessel, .processVessel, .outputVessel {
    /* justify-self: center; */
    grid-row: 2/3;
    background-color: grey;
    height: 80%;
    width: 60px;
    padding: 0px;
    margin: 30px;
    margin-bottom: 0px;
    border: 2px solid black;
}
#input0, #output0{
    justify-self: center;
    width: 110px;
}
.pump, .burner {
    grid-row: 3/4;
    padding: 0px;
    border: 2px solid black;
}
.pump {
    width: 90px;
    height: 80px;
    margin: 0px;
    content: url('/assets/Centrifugal_Pump.jpg');
}
.burner {
    width: 70px;
    height: 80px;
    grid-column: 2/3;
    margin: 0px;
    margin-left: 26px;
    content: url('/assets/flame\ gif.gif')
}
#pump0 {
    grid-column: 1/2;
    margin-left: 106px;
}
#outPump0 {
    grid-column: 3/4;
}
